.homebutton{
height: 50px;
width: 50px;
}

h1,h2{
font-family: 'Abril Fatface', cursive;
}

body{
font-family: 'Vollkorn', serif;
}

a{
text-decoration: none;
}

.delete i{
content: '\f2ed';
font-family: fontAwesome;
}