{% extends 'myth/base.html' %} {% block content %}
<div class='type'>
  <main  class="mainImg"  style="background-image:url({{ single.img }})">
    <h1>{{ single.title }}</h1>
    <h3>{{ single.genre }}</h3>
    <h4>{{ single.info }}</h4>
  </main>
</div>

<div class='bottom_card'>
  {% for myth_type in single.myth_types.all %}
    <a class="text-dark" href="{% url 'single_being' pk=myth_type.id %}">
      <div class="card mb-3" style="max-width: 90%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="card-img" src=" {{ myth_type.image }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">{{ myth_type.title }}</h1>
              <h2 class="card-text">{{ myth_type.genre }}</h2>
            </div>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

{% endblock %}