{% extends 'myth/base.html' %} {% block content %}
<h1>{{ god.genre }}</h1>
<h2>{{ god.myth_type }}</h2>
<h3>{{ god.title }}</h3>
<p>{{ god.origin }}</p>
<img src="{{ god.image }}">

<!-- loop for relationships for first god key -->
{% for relation in god.god1.all%}
<h3>{{relation.god1}} - {{relation.detail}} of <a href="{% url 'single_being' pk=relation.id %}">{{relation.god2}}</a></h3>
{% endfor %}

<!-- if forign key is 2nd god -->
{% for relation2 in god.god2.all%}
<h3>{{relation2.god2}} - {{relation2.detail2}} of <a href="{% url 'single_being' pk=relation2.god1.id %}">{{relation2.god1}}</a> </h3>
{% endfor %}
<!-- I need to have the stories loop through -->
{% endblock %}