{% extends 'myth/base.html' %} {% block content %}
<h1>{{ god.genre }}</h1>
<h2>{{ god.myth_type }}</h2>
<h3>{{ god.title }}</h3>
<p>{{ god.origin }}</p>
<img src="{{ god.image }}">


<!-- loop for relationships for first god key -->
{% for relation in god.god1.all%}
<h3>{{relation.god1}} - {{relation.detail}} of <a href="{% url 'single_being' pk=relation.god2.id %}">{{relation.god2}}</a></h3>
{% endfor %}

<!-- if forign key is 2nd god -->
{% for relation2 in god.god2.all%}
<h3>{{relation2.god2}} - {{relation2.detail2}} of <a href="{% url 'single_being' pk=relation2.god1.id %}">{{relation2.god1}}</a> </h3>
{% endfor %}
<!-- for loop for what they're the god of -->
{% for list in god.god.all%}
<h5>{{list.item}}</h5>
{% endfor %}

<a href="{% url 'new_story' pk=god.id %}">ADD A STORY</a>
{% for story in god.person.all%}
<h2>{{story.title}}</h2>
<p>{{story.content}}</p>
<a href="{% url 'new_comment' pk=story.id god_pk=god.id %}">Comment</a>
{% for comment in story.related_story.all%}
<h3>{{ comment.comment }}</h3>
<h5>{{ comment.author }}</h5>
<!-- If the comment was written by the author -->
{% if user.id is comment.author.id %}
<a class='delete' href="{% url 'delete_comment' pk=comment.id god_pk=god.id %}"><i class="fas fa-trash-alt"></i></a>
<a href="{% url 'edit_comment' pk=comment.id god_pk=god.id %}"><i class="fas fa-edit"></i></a>
{% endif %}

{% endfor %}
<!-- If the story was made by the user -->
{% if user.id is story.author.id %}

<a class='delete' href="{% url 'delete_story' pk=story.id god_pk=god.id %}"><i class="fas fa-trash-alt">delete</i></a>
<a href="{% url 'edit_story' pk=story.id %}"><i class="fas fa-edit"></i></a>
{% endif %}
{% endfor %}
<!-- I need to have the stories loop through -->
{% endblock %}